{% extends "_audit_base.html" %}

{% block head %}
<title>Attorney List</title>
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col">
      <h2>Attorney List</h2>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-primary mx-3" onclick="window.location.href='/attorney/add';">Add Attorney</button>
    </div>
  </div>

  <!-- Display a list of all managers with links to edit each one -->
  <!-- <table class="table table-bordered table-hover shadow p-5"> -->
    <table class="table table-striped table-sm">
    <thead>
      <th>Attorney Name</th>
      <th>Views</th>
    </thead>
    <tbody>
      {% for attorney in attorneys %}
      <tr>
        <td>
          <a href="/attorney/details/{{ attorney.id }}">{{ attorney.name }}</a>
        </td>
        <td>{{ attorney.updated_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
