{% extends "_audit_base.html" %}

{% block head %}
<title>Audit Types</title>
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col">
      {% if is_add_audit %}
        <h2>New Audit</h2>
      {% else %}
        <h2>{{audit.name}}</h2>
      {% endif %}
    </div>
    <div class="col-sm-4">
      <a href="/audit/">Return to Audit List</a>
    </div>
  </div>
  <!-- Display the details for a specific audit in text boxes to update them or add them if this is to create a audit -->
  <div class="row">
    <div class="col">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="col-sm-12 col-lg-10">
        {% if is_add_audit %}
        <form method="POST" action="/audit/create/" class="w-60">
        {% else %}
        <form method="POST" action="/audit/update/{{audit.id}}" class="w-60">
        {% endif %}
          {% csrf_token %}
          <div class="form-group row">
            <label for="first_name" class="col-sm-3 col-form-label text-sm-right">First Name</label>
            <div class="col-sm-8">
              <input type="text" id="first_name" name="first_name" class="form-control" value="{{audit.first_name}}" />
            </div>
          </div>
          <div class="form-group row">
            <label for="last_name" class="col-sm-3 col-form-label text-sm-right">Last Name</label>
            <div class="col-sm-8">
              <input type="text" id="last_name" name="last_name" class="form-control" value="{{audit.last_name}}" />
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-sm-3 col-form-label text-sm-right">Title</label>
            <div class="col-sm-8">
              <input type="text" id="title" name="title" class="form-control" value="{{audit.title}}" />
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-3 col-form-label text-sm-right">Password</label>
            <div class="col-sm-8">
              <input type="password" id="password" name="password" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <label for="confirm_pw" class="col-sm-3 col-form-label text-sm-right">Confirm Password</label>
            <div class="col-sm-8">
              <input type="password" id="confirm_pw" name="confirm_pw" class="form-control" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-1">
              <!-- This looks funny when we get to extra small device sizes - need to work on this again later -->
              <input type="checkbox" id="isActive" name="isActive" value="isActive"
                {% if audit.active %} checked {% endif %} />
            </div>
            <div class="col-sm-3">
              <label for="isActive" class="col col-form-label text-left">Active</label>
            </div>
          </div>
          <div class="form-group">
            {% if is_add_audit %}
              <button type="submit" class="btn btn-success float-right">Add</button>
            {% else %}
              <button type="submit" class="btn btn-success float-right">Update</button>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
