<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static '/css/base.css' %}">
  {% block head %}
  <title>Base Page</title>
  {% endblock head %}
</head>
<body>
  <div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Attorney Audits</div>
    <div class="list-group list-group-flush">
      <a href="/" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="/attorney/" class="list-group-item list-group-item-action bg-light">Attorneys</a>
      <a href="/manager/" class="list-group-item list-group-item-action bg-light">Managers</a>
      <a href="/audit/" class="list-group-item list-group-item-action bg-light">Edit Audit Types</a>
      <a href="/admin/" class="list-group-item list-group-item-action bg-light">Manage Users</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Reports (NYI)</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Import Data (NYI)</a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="/accounts/logout/" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </nav> <!-- End Navbar -->

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="row my-3">
        <div class="col">
          {% block content %}
          Body 
          {% endblock content %}
        </div>
      </div>
    </div> <!-- End Content -->
  </div> <!-- ending the wrapper div -->

  <footer>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
      <a class="navbar-brand" href="#">Logo</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
      </ul>
    </nav>
  </footer>
  
  
  <!-- Add scripts after the code has finished loading -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{% static '/js/base.js' %}"></script>
  {% block javascript %}
  {% endblock javascript %}
</body>
</html>